@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;600&display=swap');

body {
    font-family: 'Hind Siliguri', sans-serif;
}

.container {
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
}

.services .info,
.services .elements {
    line-height: 1.3;
    width: 50%;
}

.services .info {
    padding-right: 50px;
}

.services .elements {
    padding-left: 50px;
}

.info h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
}

.services h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.elements-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.elements__item {
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}

p {
    font-size: 16px;
}

.icon {
    width: 60px;
    height: 60px;
}

.button {
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    color: red;
    border-color: red;
    border-bottom-style: ridge;
    padding: 15px 60px 15px 60px;
    border-radius: 6px;
    margin-top: 40px;
}

.button:hover {
    background: lightpink;
    color: snow;
}

